
choice
    prompt "Operating System"

config OS_NONE
    bool "None"

config OS_USE_FREERTOS
    bool "FreeRTOS"

endchoice

menu "Operating System Configuration"
depends on OS_USE_FREERTOS
source Operating_Systems/FreeRTOS/Kconfig
endmenu
