*.o
.config*
Documentation/*
!Documentation/*/Doxyfile
Operating_Systems/FreeRTOS/FreeRTOS*
Project/src/*
!Project/src/README
System-CM4/link.ld
Toolchain/arm-none-eabi.extracted
Toolchain/arm-none-eabi/
downloads/
include/
kconfig-frontends/build/
output/
