#

mainmenu "AUSBEE Configuration"

# Build options menu
menu "Build options"

config PROJECT_NAME
	string "Project name"
	default "project"
	help
		TODO
# Select CORE
choice
	prompt "Select ARM core"
config ARM_CORE_CORTEX_M4
	bool "ARM Cortex-M4 core"

config ARM_CORE_CORTEX_M3
	bool "ARM Cortex-M3 core"
endchoice

# Select Device Cortex-M4
choice
	prompt "Device name Cortex-M4"
	depends on ARM_CORE_CORTEX_M4

config DEVICE_STM32F40_41xxx 
	bool "STM32F40_41xxx"

config DEVICE_STM32F427_437xx
	bool "STM32F427_437xx"

config DEVICE_STM32F429_439xx
	bool "STM32F429_439xx"

config DEVICE_STM32F401xx
	bool "STM32F40_41xx"
endchoice

# Select Device Cortex-M3
choice
	prompt "Device name Cortex-M3"
	depends on ARM_CORE_CORTEX_M3
config DEVICE_STM32F10X_LD
	bool "STM32F10X_LD"

config DEVICE_STM32F10X_LD_VL
	bool "STM32F10X_LD_VL"

config DEVICE_STM32F10X_MD
	bool "STM32F10X_MD"

config DEVICE_STM32F10X_MD_VL
	bool "STM32F10X_MD_VL"

config DEVICE_STM32F10X_HD
	bool "STM32F10X_HD"

config DEVICE_STM32F10X_HD_VL
	bool "STM32F10X_HD_VL"

config DEVICE_STM32F10X_XL
	bool "STM32F10X_XL"

config DEVICE_STM32F10X_CL
	bool "STM32F10X_CL"
endchoice

config RAM_LENGTH
	string "RAM length"
	default "10K"
	help
		Amount of RAM memory available on your device.
		You can use capital letters like:
		K for kilobytes
		M for megabytes
		G for gigabytes

config FLASH_LENGTH
	string "FLASH length"
	default "32K"
	help
		Amount of FLASH memory available on your device.
		You can use capital letters like:
		K for kilobytes
		M for megabytes
		G for gigabytes

config USE_ASSERT_PARAM
	bool "Use assert_param()"
	default n
	help
		If enable, do not forget to edit the assert_failed() function
		in System-CMX/stm32f10x_conf.c.

config DOWNLOADS_DIR
    string "Downloads directory"
    default "$(CURDIR)/downloads"
    help
        TODO

config BAUDRATE_SERIAL_INTEFACE
	string "Baudrate of serial programming interface"
	default "115200"
	help
		TODO

config PROGRAM_SERIAL_INTERFACE
	string "Serial programming interface"
	default "/dev/ttyUSB0"
	help
		TODO

endmenu

# Toolchain menu
menu "Toolchain"
source "Toolchain/Kconfig"
endmenu

# Libraries menu
menu "Libraries"
source "Libraries/Kconfig"
endmenu

# FreeRTOS menu
menu "FreeRTOS"
source "FreeRTOS/Kconfig"
endmenu
