# This file is part of AUSBEE.
#
# Copyright (C) 2015 AUSBEE Developers <ausbee@googlegroups.com>
#
# AUSBEE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# AUSBEE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with AUSBEE.  If not, see <http://www.gnu.org/licenses/>.

config TOOLCHAIN_TARGET_NAME
	string "Target name"
	default "avr"
	help
		TODO

config DOWNLOAD_TOOLCHAIN
    bool "Download GCC ARM embedded toolchain"
    default n
    help
        TODO

config TOOLCHAIN_MIRROR
    string "Toolchain mirror URL"
    default "https://launchpad.net/gcc-arm-embedded/4.7/4.7-2013-q3-update/+download/gcc-arm-none-eabi-4_7-2013q3-20130916-linux.tar.bz2"
    depends on DOWNLOAD_TOOLCHAIN
    help
        TODO

config TOOLCHAIN_CUSTOM_BIN_PATH
	bool "Custom toolchain /bin path"
  depends on !DOWNLOAD_TOOLCHAIN
  default n
	help
		TODO

config TOOLCHAIN_BIN_PATH
	string "Toolchain /bin path"
  depends on TOOLCHAIN_CUSTOM_BIN_PATH
  default "/usr/bin"
	help
		TODO

comment "GCC/G++ options"

# -ffunction-sections and -fdata-sections will tell to gcc to put functions and data in special .text sections.
# This enable the linker to optimize unused functions and data thanks to -Wl,-gc-sections flag.
#
# Add -mthumb-interwork for enabling ARM and Thumb interwork
config TARGET_TOOLCHAIN_COMMON_FLAGS
    string "Common flags (CFLAGS and LDFLAGS)"
    default "-Wall -Wextra -fpack-struct -fshort-enums -Wstrict-prototypes"

config TARGET_TOOLCHAIN_CFLAGS
    string "Toolchain CFLAGS"
    default ""
    help
	TODO

# -fno-rtti disable RunTime Type Informations
# -fno-exceptions disable exceptions
# These two C++ particularities include two much functions overhead
# In a result, you won't be able to use exceptions handling and dynamic casts
config TARGET_TOOLCHAIN_CXXFLAGS
    string "Toolchain CXXFLAGS"
    default "-fno-rtti -fno-exceptions"
    help
	TODO

# -Wl,--gc-sections will remove unused functions and datas thanks to -ffunction-sections and -fdata-sections
# -nostartfiles do not use standard system startup files when linking
config TARGET_TOOLCHAIN_LDFLAGS
    string "Toolchain LDFLAGS"
    default ""
    help
        TODO

config OPTIMISATION
    string "Optimisation"
    default "s"
    help
        TODO

