config LIBAUSBEE_CONTROL_SYSTEM_MANAGER
	bool "+ Control system manager"
	default n
	depends on LIBAUSBEE
	help
		Manager for control engineering.

config LIBAUSBEE_CONTROLLER
	bool "+ Controller"
	default n
	depends on LIBAUSBEE
	help
		Controller implementation for control engineering.

config LIBAUSBEE_LIDAR
	bool "+ LIDAR"
	default n
	depends on LIBAUSBEE
	help
		TODO

config LIBAUSBEE_L298_DRIVER
	bool "+ L298 Driver"
	default n
	depends on LIBAUSBEE
	help
		TODO

config LIBAUSBEE_ENCODER
	bool "+ ENCODER"
	default n
	depends on LIBAUSBEE
	help
		Encoder init and reading module.

config LIBAUSBEE_SERVO
	bool "+ SERVO"
	default n
	depends on LIBAUSBEE
	help
		TODO

config LIBAUSBEE_AX12
	bool "+ AX12"
	default n
	depends on LIBAUSBEE
	help
		TODO
