config STM32F10X_STDPERIPH_DRIVER
	bool "STM32F10x StdPeriph Driver"
	default n
	depends on DEVICE_STM32F10X_LD || DEVICE_STM32F10X_LD_VL || \
		DEVICE_STM32F10X_MD || DEVICE_STM32F10X_MD_VL || \
		DEVICE_STM32F10X_HD || DEVICE_STM32F10X_HD_VL || \
		DEVICE_STM32F10X_XL || DEVICE_STM32F10X_CL
	help
		TODO

source Libraries/STM32F10x_StdPeriph_Driver/Kconfig

config LIBAUSBEE
	bool "libausbee"
	default n
	help
		libausbee by EIRBOT
		TODO

source Libraries/libausbee/Kconfig
