config STM32F10X_STDPERIPH_DRIVER_CAN
	bool "+ CAN"
	depends on STM32F10X_STDPERIPH_DRIVER
	help
		TODO

config STM32F10X_STDPERIPH_DRIVER_RCC
	bool "+ RCC"
	depends on STM32F10X_STDPERIPH_DRIVER
	help
		TODO

config STM32F10X_STDPERIPH_DRIVER_GPIO
	bool "+ GPIO"
	depends on STM32F10X_STDPERIPH_DRIVER
	help
		TODO

config STM32F10X_STDPERIPH_DRIVER_TIM
	bool "+ TIM"
	depends on STM32F10X_STDPERIPH_DRIVER
	help
		TODO
#TODO add others
